<!DOCTYPE html>
<html>
  <head>
    <title>メモ <%= name %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/github-markdown.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand"><img class="navbar-icon" src="/images/icon_memo.svg">メモアプリ</a>
    </nav>
    <div class="action-alert">
      <% if action == "posted" then %>
        <div class="alert alert-success" role="alert">メモ<%= name %>を投稿しました</div>
      <% elsif action == "edited" then %>
        <div class="alert alert-success" role="alert">メモ<%= name %>を変更しました</div>
      <% end %>
    </div>
    <div class="contents">
      <h3 class="border-bottom border-dark">メモ<%= name %></h3>
      <article class="markdown-body memo-body">
        <%= markdown(memo) %>
      </article>
      <div class="form-buttons">
        <button class="btn btn-primary form-button" type="button" onclick=<%= "location.href='./#{name}/edit'" %>>変更</button>
        <form action=<%= "./#{name}" %> method="post">
          <input type="hidden" id="_method" name="_method" value="delete" />
          <input class="btn btn-danger form-button" type="submit" value="削除" />
        </form>
      </div>
    </div>
  </body>
</html>